<!DOCTYPE html>
<html>
<head>
    <title>Your One-Time Password</title>
</head>
<body>
    <p>Dear {{FullName}},</p>
    <p>Your one-time password (OTP) is:</p>
    <p><strong>{{OtpCode}}</strong></p>
    <p>This OTP will expire at: {{Expiration}}</p>
    <p>Please use this OTP to complete your login.</p>
    <p>Thank you!</p>
</body>
</html>