<h1>Application Update, {{ FirstName }} {{ LastName }}</h1>

<p>We regret to inform you that your tutor application has been rejected.</p>

{{#if RejectionReason}}
    <p>Reason: {{ RejectionReason }}</p>
{{/if}}

<p>We appreciate your interest in joining our platform.</p>