<h2>Your reviewer has proposed new interview dates</h2>

<p>Hello {{TutorFirstName}} {{TutorLastName}},</p>

<p>Your reviewer has proposed the following interview date(s):</p>

<ul>
    {{#each ProposedDates}}
        <li>{{this}}</li>
    {{/each}}
</ul>

{{#if Observations}}
    <p><strong>Message from reviewer:</strong> {{Observations}}</p>
{{/if}}

<p>Please log in to your tutor dashboard to confirm your availability.</p>
