<h1>Congratulations, {{ FirstName }} {{ LastName }}!</h1>

<p>Your tutor application has been approved. Welcome to our platform!</p>

<p>You can now proceed to the next steps of your onboarding process.</p>