<p>Hi,</p>

<p>The interview with tutor <strong>{{TutorFullName}}</strong> has been successfully scheduled.</p>

<p><strong>Date and Time (UTC):</strong> {{formatDate ScheduledAtUtc}}</p>

<p>Please make sure to be available at this time. A calendar invite will follow if required.</p>

<p>Thanks,<br/>The Xcel Team</p>
